<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/shortest}">Shortest Path</a></li>
                        <li><a href="#" th:href="@{/vertices}">Planets</a></li>
                        <li><a href="#" th:href="@{/edges}">Routes</a></li>
                        <li><a href="#" th:href="@{/traffics}">Traffics</a></li>
                        <li><a href="#" th:href="@{/vertex/new}">Add Planet</a></li>
                        <li><a href="#" th:href="@{/edge/new}">Add Route</a></li>
                        <li><a href="#" th:href="@{/traffic/new}">Add Traffic</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Interstellar Transport System</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>