<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>
</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="row text-center">
        <img src="../../static/images/interstellar.png"
             th:src="@{/images/interstellar.png}" class="img-rounded"/>
    </div>
    <div class="row text-center">
        <p class="lead">The above graph represents an interstellar transport system used by Earth&#39;s inhabitants in the year 2145. This service is required to provide a system that allows them to find the shortest path from point “A”, being Earth, through the galaxy to any of the planets represented by the other nodes.</p>
    </div>
    <div class="row text-center">
        <p>Presented for your consideration by Sivaraman Benbree DiscoveryBank.</p>
    </div>

</div>

</body>
</html>