<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Interstellar Transport System</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(vertices)}">
        <h2>Planets</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="vertex : ${vertices}">
                <td th:text="${vertex.vertexId}"><a href="/vertices/${vertex.vertexId}">Id</a></td>
                <td th:text="${vertex.name}">Planet Name</td>
                <td><a th:href="${'/vertex/' + vertex.vertexId}">View</a></td>
                <td><a th:href="${'/vertex/edit/' + vertex.vertexId}">Edit</a></td>
                <td><a th:href="${'/vertex/delete/' + vertex.vertexId}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>