<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Interstellar Transport System</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Edit Planet</h2>
    <div>
        <form class="form-horizontal" th:object="${vertex}" th:action="@{/vertexupdate}" method="post">
            <input type="hidden" th:field="*{vertexId}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
            </div>
            <div class="form-horizontal">
                <button type="submit" class="btn btn-success btn-block">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>